{
  "extends": "@imaginary-cloud/react",

  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "global-require": 0,
    "react/prop-types": "off" // TODO: look into this
  },

  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "env": {
    "es6": true
  }
}
